In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [49]:
ds=pd.read_excel('Supervised Learning project.xlsx')
ds
#ds=ds.dropna()
#print(ds.shape)
#print(list(ds.columns))

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Sales Executive,JobRole_Research Scientist,JobRole_Laboratory Technician,JobRole_Manufacturing Director,JobRole_Healthcare Representative,JobRole_Manager,JobRole_Sales Representative,JobRole_Research Director,MaritalStatus_Married,MaritalStatus_Single
0,0.446350,1,0.742527,-1.505350,-0.891688,-0.660531,1.383138,0.379672,0.112298,1.153254,...,1.873287,-0.497873,-0.462464,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,-0.918921,1.458650
1,1.322365,0,-1.297775,0.252002,-1.868426,0.254625,-0.240677,-1.026167,0.112298,-0.660853,...,-0.533821,2.008543,-0.462464,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
2,0.008343,1,1.414363,-1.031607,-0.891688,1.169781,1.284725,-1.026167,-1.094180,0.246200,...,-0.533821,-0.497873,2.162331,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,-0.918921,1.458650
3,-0.429664,0,1.461466,-0.695482,1.061787,1.169781,-0.486709,0.379672,-1.094180,0.246200,...,-0.533821,2.008543,-0.462464,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
4,-1.086676,0,-0.524295,-1.031607,-1.868426,-1.575686,-1.274014,0.379672,-1.094180,-0.660853,...,-0.533821,-0.497873,2.162331,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,-0.101159,0,0.202082,1.397995,-0.891688,0.254625,-1.224807,1.785511,0.112298,1.153254,...,-0.533821,-0.497873,2.162331,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
1466,0.227347,0,-0.469754,-0.041631,-1.868426,1.169781,-1.175601,-1.026167,0.968307,-1.567907,...,-0.533821,-0.497873,-0.462464,-0.330808,3.197088,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
1467,-1.086676,0,-1.605183,-0.434763,0.085049,-0.660531,1.038693,1.785511,0.112298,-0.660853,...,-0.533821,-0.497873,-0.462464,3.022901,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
1468,1.322365,0,0.546677,-1.031607,0.085049,1.169781,-0.142264,-1.026167,0.112298,-0.660853,...,1.873287,-0.497873,-0.462464,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
1469,-0.320163,0,-0.432568,0.252002,0.085049,-0.660531,0.792660,1.785511,0.112298,0.246200,...,-0.533821,-0.497873,2.162331,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565

In [50]:
ds.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Sales Executive,JobRole_Research Scientist,JobRole_Laboratory Technician,JobRole_Manufacturing Director,JobRole_Healthcare Representative,JobRole_Manager,JobRole_Sales Representative,JobRole_Research Director,MaritalStatus_Married,MaritalStatus_Single
0,0.446350,1,0.742527,-1.505350,-0.891688,-0.660531,1.383138,0.379672,0.112298,1.153254,...,1.873287,-0.497873,-0.462464,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,-0.918921,1.458650
1,1.322365,0,-1.297775,0.252002,-1.868426,0.254625,-0.240677,-1.026167,0.112298,-0.660853,...,-0.533821,2.008543,-0.462464,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
2,0.008343,1,1.414363,-1.031607,-0.891688,1.169781,1.284725,-1.026167,-1.094180,0.246200,...,-0.533821,-0.497873,2.162331,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,-0.918921,1.458650
3,-0.429664,0,1.461466,-0.695482,1.061787,1.169781,-0.486709,0.379672,-1.094180,0.246200,...,-0.533821,2.008543,-0.462464,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565
4,-1.086676,0,-0.524295,-1.031607,-1.868426,-1.575686,-1.274014,0.379672,-1.094180,-0.660853,...,-0.533821,-0.497873,2.162331,-0.330808,-0.312785,-0.273059,-0.244625,-0.239904,1.088232,-0.685565

In [51]:
ds.dtypes

Age                                  float64
Attrition                              int64
DailyRate                            float64
DistanceFromHome                     float64
Education                            float64
EnvironmentSatisfaction              float64
HourlyRate                           float64
JobInvolvement                       float64
JobLevel                             float64
JobSatisfaction                      float64
MonthlyIncome                        float64
MonthlyRate                          float64
NumCompaniesWorked                   float64
OverTime                             float64
PercentSalaryHike                    float64
PerformanceRating                    float64
RelationshipSatisfaction             float64
StockOptionLevel                     float64
TotalWorkingYears                    float64
TrainingTimesLastYear                float64
WorkLifeBalance                      float64
YearsAtCompany                       float64
YearsInCurrentRole                   float64
YearsSinceLastPromotion              float64
YearsWithCurrManager                 float64
BusinessTravel_Travel_Rarely         float64
BusinessTravel_Travel_Frequently     float64
Department_Research & Development    float64
Department_Sales                     float64
EducationField_Life Sciences         float64
EducationField_Medical               float64
EducationField_Marketing             float64
EducationField_Technical Degree      float64
EducationField_Other                 float64
Gender_Male                          float64
JobRole_Sales Executive              float64
JobRole_Research Scientist           float64
JobRole_Laboratory Technician        float64
JobRole_Manufacturing Director       float64
JobRole_Healthcare Representative    float64
JobRole_Manager                      float64
JobRole_Sales Representative         float64
JobRole_Research Director            float64
MaritalStatus_Married                float64
MaritalStatus_Single                 float64
dtype: object

In [52]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   float64
 1   Attrition                          1470 non-null   int64
 2   DailyRate                          1470 non-null   float64
 3   DistanceFromHome                   1470 non-null   float64
 4   Education                          1470 non-null   float64
 5   EnvironmentSatisfaction            1470 non-null   float64
 6   HourlyRate                         1470 non-null   float64
 7   JobInvolvement                     1470 non-null   float64
 8   JobLevel                           1470 non-null   float64
 9   JobSatisfaction                    1470 non-null   float64
 10  MonthlyIncome                      1470 non-null   float64
 11  MonthlyRate                        1470 non-null   float64
 12  NumCompaniesWorked                 1470 non-null   float64
 13  OverTime                           1470 non-null   float64
 14  PercentSalaryHike                  1470 non-null   float64
 15  PerformanceRating                  1470 non-null   float64
 16  RelationshipSatisfaction           1470 non-null   float64
 17  StockOptionLevel                   1470 non-null   float64
 18  TotalWorkingYears                  1470 non-null   float64
 19  TrainingTimesLastYear              1470 non-null   float64
 20  WorkLifeBalance                    1470 non-null   float64
 21  YearsAtCompany                     1470 non-null   float64
 22  YearsInCurrentRole                 1470 non-null   float64
 23  YearsSinceLastPromotion            1470 non-null   float64
 24  YearsWithCurrManager               1470 non-null   float64
 25  BusinessTravel_Travel_Rarely       1470 non-null   float64
 26  BusinessTravel_Travel_Frequently   1470 non-null   float64
 27  Department_Research & Development  1470 non-null   float64
 28  Department_Sales                   1470 non-null   float64
 29  EducationField_Life Sciences       1470 non-null   float64
 30  EducationField_Medical             1470 non-null   float64
 31  EducationField_Marketing           1470 non-null   float64
 32  EducationField_Technical Degree    1470 non-null   float64
 33  EducationField_Other               1470 non-null   float64
 34  Gender_Male                        1470 non-null   float64
 35  JobRole_Sales Executive            1470 non-null   float64
 36  JobRole_Research Scientist         1470 non-null   float64
 37  JobRole_Laboratory Technician      1470 non-null   float64
 38  JobRole_Manufacturing Director     1470 non-null   float64
 39  JobRole_Healthcare Representative  1470 non-null   float64
 40  JobRole_Manager                    1470 non-null   float64
 41  JobRole_Sales Representative       1470 non-null   float64
 42  JobRole_Research Director          1470 non-null   float64
 43  MaritalStatus_Married              1470 non-null   float64
 44  MaritalStatus_Single               1470 non-null   float64
dtypes: float64(44), int64(1)
memory usage: 516.9 KB

In [53]:
ds.nunique()

Age                                    43
Attrition                               2
DailyRate                             886
DistanceFromHome                       29
Education                               5
EnvironmentSatisfaction                 4
HourlyRate                             71
JobInvolvement                          4
JobLevel                                5
JobSatisfaction                         4
MonthlyIncome                        1349
MonthlyRate                          1427
NumCompaniesWorked                     10
OverTime                                2
PercentSalaryHike                      15
PerformanceRating                       2
RelationshipSatisfaction                4
StockOptionLevel                        4
TotalWorkingYears                      40
TrainingTimesLastYear                   7
WorkLifeBalance                         4
YearsAtCompany                         37
YearsInCurrentRole                     19
YearsSinceLastPromotion                16
YearsWithCurrManager                   18
BusinessTravel_Travel_Rarely            2
BusinessTravel_Travel_Frequently        2
Department_Research & Development       2
Department_Sales                        2
EducationField_Life Sciences            2
EducationField_Medical                  2
EducationField_Marketing                2
EducationField_Technical Degree         2
EducationField_Other                    2
Gender_Male                             2
JobRole_Sales Executive                 2
JobRole_Research Scientist              2
JobRole_Laboratory Technician           2
JobRole_Manufacturing Director          2
JobRole_Healthcare Representative       2
JobRole_Manager                         2
JobRole_Sales Representative            2
JobRole_Research Director               2
MaritalStatus_Married                   2
MaritalStatus_Single                    2
dtype: int64

In [54]:
ds.describe()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Sales Executive,JobRole_Research Scientist,JobRole_Laboratory Technician,JobRole_Manufacturing Director,JobRole_Healthcare Representative,JobRole_Manager,JobRole_Sales Representative,JobRole_Research Director,MaritalStatus_Married,MaritalStatus_Single
count,1.470000e+03,1470.000000,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,...,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03
mean,-1.824693e-16,0.161224,-1.691768e-17,4.857792e-16,-3.262696e-16,-7.637126e-16,2.368476e-16,2.056707e-15,1.389667e-15,-1.058564e-15,...,-1.060980e-15,-8.338001e-16,4.072328e-16,1.450087e-17,-5.075305e-17,-8.821364e-17,7.540454e-16,5.129684e-16,-2.305639e-15,-1.518966e-15
std,1.000340e+00,0.367863,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,...,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00
min,-2.072192e+00,0.000000,-1.736576e+00,-1.505350e+00,-1.868426e+00,-1.575686e+00,-1.766079e+00,-2.432006e+00,-1.094180e+00,-1.567907e+00,...,-5.338212e-01,-4.978732e-01,-4.624639e-01,-3.308080e-01,-3.127846e-01,-2.730593e-01,-2.446250e-01,-2.399041e-01,-9.189214e-01,-6.855655e-01
25%,-7.581700e-01,0.000000,-8.366616e-01,-1.031607e+00,-8.916883e-01,-6.605307e-01,-8.803615e-01,-1.026167e+00,-1.094180e+00,-6.608532e-01,...,-5.338212e-01,-4.978732e-01,-4.624639e-01,-3.308080e-01,-3.127846e-01,-2.730593e-01,-2.446250e-01,-2.399041e-01,-9.189214e-01,-6.855655e-01
50%,-1.011589e-01,0.000000,-1.204135e-03,1.143856e-01,8.504925e-02,2.546249e-01,5.355811e-03,3.796721e-01,1.122977e-01,2.462002e-01,...,-5.338212e-01,-4.978732e-01,-4.624639e-01,-3.308080e-01,-3.127846e-01,-2.730593e-01,-2.446250e-01,-2.399041e-01,-9.189214e-01,-6.855655e-01
75%,6.653541e-01,0.000000,8.788772e-01,8.488469e-01,1.061787e+00,1.169781e+00,8.787715e-01,3.796721e-01,9.683075e-01,1.153254e+00,...,-5.338212e-01,-4.978732e-01,-4.624639e-01,-3.308080e-01,-3.127846e-01,-2.730593e-01,-2.446250e-01,-2.399041e-01,1.088232e+00,1.458650e+00
max,2.526886e+00,1.000000,1.726730e+00,1.658715e+00,2.038524e+00,1.169781e+00,1.678377e+00,1.785511e+00,2.174785e+00,1.153254e+00,...,1.873287e+00,2.008543e+00,2.162331e+00,3.022901e+00,3.197088e+00,3.662208e+00,4.087890e+00,4.168333e+00,1.088232e+00,1.458650e+00

In [55]:
ds.shape

(1470, 45)

In [56]:
ds.isna()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Sales Executive,JobRole_Research Scientist,JobRole_Laboratory Technician,JobRole_Manufacturing Director,JobRole_Healthcare Representative,JobRole_Manager,JobRole_Sales Representative,JobRole_Research Director,MaritalStatus_Married,MaritalStatus_Single
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1468,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [57]:
x=ds.iloc[1:,2:45].values
x

array([[-1.2977746 ,  0.25200236, -1.86842575, ..., -0.23990406,
         1.08823234, -0.68556546],
       [ 1.41436324, -1.03160747, -0.89168825, ..., -0.23990406,
        -0.91892141,  1.45864991],
       [ 1.46146618, -0.69548203,  1.06178675, ..., -0.23990406,
         1.08823234, -0.68556546],
       ...,
       [-1.60518328, -0.43476289,  0.08504925, ..., -0.23990406,
         1.08823234, -0.68556546],
       [ 0.54667746, -1.03160747,  0.08504925, ..., -0.23990406,
         1.08823234, -0.68556546],
       [-0.43256792,  0.25200236,  0.08504925, ..., -0.23990406,
         1.08823234, -0.68556546]])

In [58]:
y=ds.iloc[:,2].values
y

array([ 0.74252653, -1.2977746 ,  1.41436324, ..., -1.60518328,
        0.54667746, -0.43256792])

In [59]:
print(x)

[[-1.2977746   0.25200236 -1.86842575 ... -0.23990406  1.08823234
  -0.68556546]
 [ 1.41436324 -1.03160747 -0.89168825 ... -0.23990406 -0.91892141
   1.45864991]
 [ 1.46146618 -0.69548203  1.06178675 ... -0.23990406  1.08823234
  -0.68556546]
 ...
 [-1.60518328 -0.43476289  0.08504925 ... -0.23990406  1.08823234
  -0.68556546]
 [ 0.54667746 -1.03160747  0.08504925 ... -0.23990406  1.08823234
  -0.68556546]
 [-0.43256792  0.25200236  0.08504925 ... -0.23990406  1.08823234
  -0.68556546]]

In [60]:
print(y)

[ 0.74252653 -1.2977746   1.41436324 ... -1.60518328  0.54667746
 -0.43256792]

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.50, random_state=1, stratify=y)

In [83]:
sklearn.model_selection.train_test_split(*arrays,test_size=None,train_size=None,random_state=None,shuffle=True,stratify=None)

NameError: name 'sklearn' is not defined

In [84]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

ValueError: Found input variables with inconsistent numbers of samples: [1469, 1470]

In [8]:
ds['Attrition'].value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

In [9]:
sns=countplot(x='Attrition',ds=ds,palette='hls')
plt.show()
plt.savefig('count_plot')

NameError: name 'countplot' is not defined

In [10]:
ds.groupby('Attrition').mean()

,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,...,JobRole_Sales Executive,JobRole_Research Scientist,JobRole_Laboratory Technician,JobRole_Manufacturing Director,JobRole_Healthcare Representative,JobRole_Manager,JobRole_Sales Representative,JobRole_Research Director,MaritalStatus_Married,MaritalStatus_Single
Attrition,,,,,,,,,,,,,,,,,,,,,
0,0.069799,0.024837,-0.034229,0.045319,0.003001,0.057002,0.081595,0.045368,0.086896,-0.006651,...,-0.008670,0.000158,-0.043093,0.036386,0.034502,0.036528,-0.068935,0.038963,0.039889,-0.076907
1,-0.363132,-0.129218,0.178076,-0.235775,-0.015614,-0.296554,-0.424503,-0.236031,-0.452078,0.034602,...,0.045103,-0.000820,0.224191,-0.189301,-0.179498,-0.190037,0.358637,-0.202704,-0.207525,0.400113

ValueError: Found input variables with inconsistent numbers of samples: [1469, 1470]